<ul class="archives-list">
    {% assign lang = include.lang | default: page.lang | default: 'zh' %}
    {% assign posts = site.posts | where:"lang", lang | sort: "date" | reverse %}
    {% assign current_year = "" %}
    {% for post in posts %}
      {% assign post_year = post.date | date: '%Y' %}
      {% if current_year != post_year %}
        {% assign current_year = post_year %}
        <h3>{{ current_year }}</h3>
      {% endif %}
      <li><span>{{ post.date | date:'%m-%d' }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

