<div class="row">

    <div class="col-md-12">
        <ul id="posts-list">
            {% assign posts = site.posts | where:"lang", page.lang %}
            <!--            拿到这个page的对应关键词-->
            {% assign pageKeysArray = page.keys | replace "", " " | split: "," %}
            <!--            遍历所有对应语言文章-->
            {% for post in posts %}
            <!--            过滤出重叠的关键词-->
            {% assign intersected_array = post.keywords | replace "", " " | split: "," | intersect: pageKeysArray | size %}
            <!--            如果类型有包含或者关键词有重叠 则过滤出-->
            {% if pageKeysArray contains post.category or intersected_array > 0 %}
            <li class="posts-list-item">
                <div class="posts-content">
                    <span class="posts-list-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
                    <a class="posts-list-name bubble-float-left" href="{{ post.url }}">{{ post.title }}</a>
                    <span class='circle'></span>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <!-- Comments -->
        <div class="comment">
            {% include comments.html %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>