<div>
    <p align="right" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
        <strong>
            {{ 'post.copyright.statement_prefix' | t }}
            <a href="{{ site.url }}{{ page.url | replace:'index.html','' }}"> {{ 'post.copyright.author' | t }}</a>{{ 'post.copyright.statement_suffix' | t }}
        </strong></br>
    </p>

    {% if page.lang == 'zh' %}
    <p align="center" >
        </br>
        </br>
        <strong>┌┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┐</strong></br>
        <strong>├ {{ 'post.copyright.end_title' | t }} ┤</strong></br>
        <strong>└┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┘</strong>
        <img src='https://someget.oss-accelerate.aliyuncs.com/assets/images/wx_share.png' width=80%></img>
    </p>
    {% endif %}

</div>
