<div>
    <p align="right" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
        <strong>（转载本站文章请注明作者和出处 <a href="https://www.someget.cn">没有气的汽水</a>）</strong></br>
    </p>

   <p align="center" >
    </br>
    </br>
    <strong>┌┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┐</strong></br>
    <strong>├ 文章已经完啦, 想要第一时间收到文章更新可以关注↓ ┤</strong></br>
    <strong>└┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┘</strong>
    <img src='https://someget.oss-cn-hangzhou.aliyuncs.com/assets/images/wx_share.png' width=80%></img>
   </p>
</div>