<header class="site-header">
    <!-- 百度的流量监控 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?672c60c153858ae812087b74c8e9a6a5";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <div class="site-header-topbar">
        <div class="container">
            <div class="topbar-menu">
                {% assign current_menu = site.menus[page.lang] | default: site.menus.en %}
                {% for menu in current_menu %}
                <div class="item">
                    <a href="{{ menu.href }}"
                       target="{{ menu.target | default: _self }}"
                       title="{{ menu.label }}">
                        {{ menu.label }}
                    </a>
                </div>
                {% endfor %}
<!--                切换中英文菜单-->
                {% if page.lang == 'en' %}
                <div class="item">
                    <a href="/">
                        <img src="https://someget.oss-accelerate.aliyuncs.com/assets/images/flag-CN.png" alt="" class="naviation__lang_img">
                    </a>
                </div>
                {% elsif page.lang == 'zh' %}
                <div class="item">
                    <a href="/en">
                        <img src="https://someget.oss-accelerate.aliyuncs.com/assets/images/flag-US.png" alt="" class="naviation__lang_img">
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        {% if page.lang == 'en' %}
            <a id="site-header-brand" href="/en" title="{{ site.name }}">
                <span class="octicon octicon-thumbsup"></span>
                {{ site.name_en }}
            </a>
        {% elsif page.lang == 'zh' %}
            <a id="site-header-brand" href="/" title="{{ site.name }}">
                <span class="octicon octicon-thumbsup"></span>
                {{ site.name }}
            </a>
        {% endif %}

        <nav class="site-header-nav" role="navigation">
            {% assign current_lang = page.lang | default: 'en' %}
            {% for nav in site.navs[page.lang] %}
            <div class="{% if page.menu == nav.label %} selected {% endif %} site-header-nav-item hvr-underline-from-center">
                <a href="{{ nav.href }}"
                   target="{{ nav.target | default: _self }}"
                   title="{{ nav.label }}">
                    {{ nav.label }}
                </a>
                {% if nav.subnav %}
                <ul class="submenu">
                    {% for subItem in nav.subnav %}
                    <li><a href="{{ subItem.subHref }}"
                           target="{{ subItem.target | default: _self }}"
                     >{{ subItem.subLabel }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </nav>
    </div>
</header>
