{% if posts.size > paging_size %}
<!-- // 计算出总共多少页 -->
{% assign total_pages = posts.size | plus: 0.0 | divided_by: paging_size | ceil %}
<div class="pagination text-align">
    <div class="btn-group">

        {% if current_page - 1 >= 1 %}
        {% if current_page - 1 == 1 %}
        <a href="/" class="btn btn-outline">&laquo;</a>
        {% else %}
        <a href="/page{{current_page - 1}}" class="btn btn-outline">&laquo;</a>
        {% endif %}
        {% else %}
        <button disabled="disabled" href="javascript:;" class="btn btn-outline">&laquo;</button>
        {% endif %}

        {% if current_page == 1 %}
        <a href="javascript:;" class="active btn btn-outline">1</a>
        {% else %}
        <a href="/" class="btn btn-outline">1</a>
        {% endif %}
        {% for count in (2..total_pages) %}
        {% if count == current_page %}
        <a href="javascript:;" class="active btn btn-outline">{{count}}</a>
        {% else %}
        <a href="/page{{count}}" class="btn btn-outline">{{count}}</a>
        {% endif %}
        {% endfor %}

        {% if total_pages > current_page %}
        <a href="/page{{current_page + 1}}" class="btn btn-outline">&raquo;</a>
        {% else %}
        <button disabled="disabled" href="javascript:;" class="btn btn-outline">&raquo;</button>
        {% endif %}

    </div>
</div>
{% endif %}
