
<!--<div class="card text-center">-->
<!--    <ul class="list-inline" style="margin-left: 0;">-->
<!--     <li>-->
<!--        <a target="_blank" href="https://github.com/oreoft">-->
<!--          <span class="fa-stack fa-lg">-->
<!--            <i class="fa fa-circle fa-stack-2x"></i>-->
<!--            <i class="fa fa-github fa-stack-1x fa-inverse"></i>-->
<!--          </span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a target="_blank" href="https://www.zhihu.com/">-->
<!--          <span class="fa-stack fa-lg">-->
<!--            <i class="fa fa-circle fa-stack-2x"></i>-->
<!--            <i class="fa fa-envelope  fa-stack-1x fa-inverse"></i>-->
<!--          </span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a target="_blank" href="https://twitter.com/oreoft">-->
<!--          <span class="fa-stack fa-lg">-->
<!--            <i class="fa fa-circle fa-stack-2x"></i>-->
<!--            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>-->
<!--          </span>-->
<!--        </a>-->
<!--      </li>-->
<!--  </ul>-->
<!--</div>-->

{% assign current_lang = page.lang | default: 'zh' %}
<h3 class="sidebar-title">{{ 'sidebar.selected_articles' | t }}</h3>
{% for article in site.data.selected_articles.articles %}
  {% assign lang_data = article[current_lang] %}
  {% if lang_data and lang_data.href and lang_data.name %}
<div class="card text-center">
    <div class="thumbnail">
            <div class="card-image geopattern" data-pattern-id="{{ lang_data.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                        <a href="{{ lang_data.href }}" target="_blank">{{ lang_data.name }}</a>
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                    <p class="card-text">{{ lang_data.describe }}</p>
                </div>
            </div>
        </div>
    </div>
  {% endif %}
{% endfor %}

<br/>

<h3 class="sidebar-title">{{ 'sidebar.open_source_software' | t }}</h3>
{% assign repo_count = 0 %}
{% for repo in site.data.open_source_software.repositories %}
  {% assign lang_data = repo[current_lang] %}
  {% if lang_data and lang_data.html_url and lang_data.name %}
    {% if repo_count < site.side_bar_repo_limit %}
      {% assign repo_count = repo_count | plus: 1 %}
<div class="card text-center">
    <div class="thumbnail">
              <div class="card-image geopattern" data-pattern-id="{{ lang_data.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                          <a href="{{ lang_data.html_url }}" target="_blank">{{ lang_data.name }}</a>
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                      <p class="card-text">{{ lang_data.description }}</p>
            </div>
                  {% if lang_data.stargazers_count or lang_data.forks_count or lang_data.updated_at %}
            <div class="card-text">
                      {% if lang_data.stargazers_count %}
                      <span data-toggle="tooltip" class="meta-info" title="{{ lang_data.stargazers_count }} {{ 'sidebar.stars' | t }}">
                          <span class="octicon octicon-star"></span> {{ lang_data.stargazers_count }}
                </span>
                      {% endif %}
                      {% if lang_data.forks_count %}
                      <span data-toggle="tooltip" class="meta-info" title="{{ lang_data.forks_count }} {{ 'sidebar.forks' | t }}">
                          <span class="octicon octicon-git-branch"></span> {{ lang_data.forks_count }}
                </span>
                      {% endif %}
                      {% if lang_data.updated_at %}
                      <span data-toggle="tooltip" class="meta-info" title="{{ 'sidebar.last_updated' | t }}：{{ lang_data.updated_at }}">
                    <span class="octicon octicon-clock"></span>
                          <time datetime="{{ lang_data.updated_at }}" title="{{ lang_data.updated_at }}">{{ lang_data.updated_at | date: '%Y-%m-%d' }}</time>
                </span>
                      {% endif %}
            </div>
                  {% endif %}
        </div>
    </div>
</div>
    {% endif %}
  {% endif %}
{% endfor %}
<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>