---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="row">
        {% if page.no-post-nav %}
        <div class="col-md-12 markdown-body">
            {{ content }}
        </div>
        {% else %}
        <div class="col-md-9 markdown-body">
            {{ content }}
        </div>
        <div class="col-md-3">
            {% include sidebar-post-nav.html %}
        </div>
        {% endif %}
    </div>
    
    <!-- Comments - 只在 about 和 link 页面显示 -->
    {% if page.permalink == '/about/' or page.permalink == '/en/about/' or page.permalink == '/link/' or page.permalink == '/en/link/' %}
    <div class="comment">
        {% include giscus.html %}
    </div>
    {% endif %}
</article>
